
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <#head title="Contact" />
    </head>

    <body>

        <div class="container">
            <#nav />

           
            <section class="row" id="contact">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Contact</h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label">
                                    Mail Address:
                                </label>
                                <ul class="list-group">
                                    <li class="list-group-item">Biochemistry &amp; Molecular Biology</li>
                                    <li class="list-group-item">Biomedicine Discovery Institute</li>
                                    <li class="list-group-item">Faculty of Medicine, Nursing and Health Sciences</li>
                                    <li class="list-group-item">Monash University</li>
                                    <li class="list-group-item">Melbourne, VIC 3800, Australia</li>
                                </ul>
                                <label class="control-label">
                                    You can send your queries and suggestions to the developers: 
                                    <a href="mailto:Jiangning.Song@monash.edu" target="_blank">Jiangning.Song@monash.edu</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

            <#footer />
        </div>


    </body>
</html>