<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <#head title="Lock Page" />
    </head>

    <body>

        <div class="container">
            <#nav />

            <section class="row" id="about">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Lock Page <code>${jobId}</code></h2>
                            <p>${message}</p>
                            
                        </div>
                    </div>
                </div>
            </section>

            
            <#footer />
        </div>


    </body>
</html>
