<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhaoxuyang.blog.mapper.AdminMapper">

    <delete id="deleteArticleCommentReply" parameterType="AdminArticleCommentReply">
        delete from comment_reply
        where article_id = #{article_id}
    </delete>
    
    <delete id="deleteVisitArticle" parameterType="AdminVisitArticle">
        delete from visit_article
        where article_id = #{article_id}
    </delete>
    
    <delete id="deleteArticleComment" parameterType="AdminArticleComment">
        delete from article_comment
        where article_id = #{article_id}
    </delete>
    
<!--    <select id="selectArticleComment" resultType="int" resultMap="ArticleComment" >
        select id from article_comment
        where article_id = #{article_id}
    </select>-->
</mapper>

