<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhaoxuyang.blog.mapper.OneToMoreMapper">
    <resultMap id="UserVOResultMap" type="net.zhaoxuyang.blog.model.UserVO">
        <id property="userId" column="uid"/>
        <result property="username" column="username"/>
    
    <!--column = article表中的user_id--> 
         <collection property="articles" ofType="Article" > 
            <id property="id" column="id" />
            <result property="title" column="title"/>
            <result property="category" column="category"/>
            <result property="gmtCreate" column="gmt_create"/>
            <result property="gmtUpdate" column="gmt_update"/>
            <result property="userId" column="user_id"/>
            <result property="markdown" column="markdown"/>
            <result property="summary" column="summary"/>
            <result property="tags" column="tags"/>
            <result property="auth" column="auth"/>       
            <result property="type" column="type"/>      
        </collection>
    </resultMap>
    
    
    <select id="getUserVO" resultMap="UserVOResultMap">
        select user.id uid, user.username, article.*
        from user, article
        where user.id = article.user_id
        and user.id = #{ id }
    </select>

</mapper>

