<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ArticleMapper.xml -->

<mapper namespace="net.zhaoxuyang.blog.mapper.UserinfoMapper">
    
    <resultMap id="UserInfoResultMap" type="UserInfo">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="salt" column="salt"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="gmtCreate" column="gmt_create"/>
    </resultMap>
    
    <select id="selectByUserId" parameterType="UserInfo" resultMap="UserInfoResultMap">
        select id , user_id , gender , nickname , nickimg
        from user_info
        where user_id=#{user_id}
       
    </select>
    
     <insert id="insert" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info( id , user_id , gender , nickname , nickimg )
        values( #{ id },  #{ user_id },  #{ gender },  #{ nickname },  #{ nickimg } )
    </insert>
    
    <update id="update" parameterType="UserInfo" >
        update user_info set gender=#{gender}, nickname=#{nickname}, nickimg=#{nickimg}
        where user_id=#{user_id}
        
    </update>


    <delete id="delete" parameterType="UserInfo">
        delete from user_info
        where user_id = #{user_id}
    </delete>
</mapper>

