# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/wine.nwsuaf.club/nbproject/private/
/ogdp.zxy97.com/nbproject/private/
/zxy97.com/nbproject/private/
/zxy97.com/build/
/file.zxy97.com/nbproject/private/
/file.zxy97.com/build/
/file.zxy97.com/dist/
/dwz.zxy97.com/nbproject/private/
/blog.zxy97.com/nbproject/private/
/dsa.zxy97.com/nbproject/private/
/pan.zxy97.com/nbproject/private/
/wmdblog/target/
/nwsuaf.club/nbproject/private/
/pippin/nbproject/private/
/com.zxy97.ssm/nbproject/private/
/xinshui/nbproject/private/
/xinshui/build/
/xinshui/target/
/JavaLibrary2/nbproject/private/
/Deep4mCPred/target/
/Deep4mCPred/nbproject/
/pippin/build/
/netty/nbproject/private/