<meta charset="UTF-8" /><!--设置编码-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--强制Chrome内核-->
<meta name="viewport" content="width=device-width, initial-scale=1" /><!--移动端正确显示页面并正确缩放-->
<title>${title} - Deep4mCPred</title>
<link rel="shortcut icon" href="" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/plugins/datatables/css/jquery.datatables.min.css" />
<script src="${ctxPath}/js/jquery.min.js"></script>
<script src="${ctxPath}/js/bootstrap.min.js"></script>
<script src="${ctxPath}/plugins/datatables/js/jquery.datatables.min.js"></script>

<!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.1/html5shiv-printshiv.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![end if]-->
