<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
  <servlet>
      <servlet-name>springmvc</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc-servlet.xml</param-value>
        </init-param>
        <!-- <load-on-startup>1</load-on-startup> -->
  </servlet>

  <servlet-mapping>
      <servlet-name>springmvc</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>

    <!--自定义Servlet-->
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>com.zxy97.blog.servlet.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegCheckServlet</servlet-name>
        <servlet-class>com.zxy97.blog.servlet.RegCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegCheckServlet</servlet-name>
        <url-pattern>/regCheck</url-pattern>
    </servlet-mapping>
    <!--自定义Servlet-->

    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
