.container {
    width: auto;
    max-width: 960px;
    padding: 0 15px;
}

.progress {
    margin-bottom:0;
    margin-top:10px;
    margin-left:60px;
}

.btn.focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

.btn.hover {
    color:#ffffff;
    background-color:#3276b1;
    border-color:#285e8e;
}