<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">                    
    
    <context:component-scan base-package="club.nwsuaf.mapper" />
    <context:component-scan base-package="club.nwsuaf.service" />
    <context:component-scan base-package="club.nwsuaf.controller">
        <context:include-filter type="annotation" 
            expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" 
            expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    
    <mvc:annotation-driven />
    <mvc:default-servlet-handler />

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
            id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <!-- 多部分文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
   </bean>
    
    <!-- configure SimpleMappingExceptionResolver -->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
               <prop key="java.lang.ArithmeticException">error</prop>
            </props>
        </property>
    </bean>-->
    
    
    <!--配置拦截器-->
    <mvc:interceptors>
        
<!--    用户事件拦截器  -->
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <mvc:exclude-mapping path=""/>
            <bean class="club.nwsuaf.interceptor.UserInterceptor"/>
        </mvc:interceptor>
        
<!--   用户项目事件拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/user/project/**"/>
            <mvc:exclude-mapping path=""/>
            <bean class="club.nwsuaf.interceptor.ProjectInterceptor"/>
        </mvc:interceptor>
        
<!--   操作员事件拦截器  -->
        <mvc:interceptor>
            <mvc:mapping path="/operator/**"/>
            <mvc:exclude-mapping path=""/>
            <bean class="club.nwsuaf.interceptor.OperatorInterceptor"/>
        </mvc:interceptor>
        
<!--   系统管理员事件拦截器  -->
        <mvc:interceptor>
            <mvc:mapping path="/administrator/**"/>
            <mvc:exclude-mapping path=""/>
            <bean class="club.nwsuaf.interceptor.AdministratorInterceptor"/>
        </mvc:interceptor> 
    
    </mvc:interceptors>
</beans>