<title>${title} - ${blogSiteTitle}</title>

<meta charset="UTF-8" /><!--设置编码-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--强制Chrome内核-->
<meta name="viewport" content="width=device-width, initial-scale=1" /><!--移动端正确显示页面并正确缩放-->
<link rel="shortcut icon" href="${ctxPath}/assets/images/logo.png" /><!-- LOGO 图标 -->

<link rel="stylesheet" href="${ctxPath}/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="${ctxPath}/assets/css/font-awesome.css" /><!-- 图标库 -->
<link rel="stylesheet" href="${ctxPath}/assets/css/style.css" /><!-- 自定义样式 -->

<script src="${ctxPath}/assets/js/jquery.min.js"></script>
<script src="${ctxPath}/assets/js/bootstrap.min.js"></script>
<script src="${ctxPath}/assets/js/search.js"></script>

<!--[if lt IE 9]>
        <script src="assets/plugins/ltIE9/html5shiv-printshiv.js"></script>
        <script src="assets/plugins/ltIE9/respond-1.4.2.js"></script>
<![end if]-->
