<!doctype html>
<html>
    <head>
        <#head title='管理员管理界面' />
        <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
        <style>
            #main{
                margin-top: 6rem;
                height: 400px;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <#adminNav />

            <div id="main" class="col-md-12 col-xs-12 col-sm-12"></div>


            <#footer />
        </div>

        <script>



            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            var base = +new Date(2019, 5, 1);
            var oneDay = 24 * 3600 * 1000;
            var date = [];

            var data = [Math.random() * 30];

            for (var i = 1; i < 20; i++) {
                var now = new Date(base += oneDay);
                date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
                data.push(Math.abs(Math.round((Math.random() - 0.5) * 20 + data[i - 1])));
            }

            console.log(data + "  " + date);

            option = {
                tooltip: {
                    trigger: 'axis',
                    position: function(pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    left: 'center',
                    text: '网站访问量',
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: date
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [{
                        type: 'inside',
                        start: 0,
                        end: 10
                    }, {
                        start: 0,
                        end: 10,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '80%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                series: [
                    {
                        name: '模拟数据',
                        type: 'line',
                        smooth: true,
                        symbol: 'none',
                        sampling: 'average',
                        itemStyle: {
                            color: 'rgb(55, 70, 231)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgb(55, 158, 168)'
                                }, {
                                    offset: 1,
                                    color: 'rgb(55, 70, 231)'
                                }])
                        },
                        data: data
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            
            function getLocalhostPath() {

                //获取当前网址，如： http://localhost:8080/Tmall/index.jsp 
                var curWwwPath = window.document.location.href;

                //获取主机地址之后的目录如：/Tmall/index.jsp 
                var pathName = window.document.location.pathname;
                var pos = curWwwPath.indexOf(pathName);

                //获取主机地址，如： http://localhost:8080 
                var localhostPath = curWwwPath.substring(0, pos);
                return localhostPath + "/";

                //获取带"/"的项目名，如：/Tmall 
                //var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);     
            }

            //获取验证码
            function getVerify(obj, uri) {
                obj.src = getLocalhostPath() + uri + '?f=' + Math.random();
            }
        </script>
    </body>
</html>

