<!doctype html>
<html>
    <head>
        <#head title='用户主页' />
    </head>
    <body>
        <div class="container">
            <#nav />

            <!-- 用户主页  -->
            <section class="row">

                <div class="col-md-12">

                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#login" data-toggle="tab">
                                登录
                            </a>
                        </li>
                        <li>
                            <a href="#register" data-toggle="tab">
                                注册
                            </a>
                        </li>
                        <li>
                            <a href="#find-password" data-toggle="tab">
                                找回密码
                            </a>
                        </li>
                    </ul>

                    <!-- 每个tab页对应的内容 -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="login">
                            <div class="well well-lg">

                                <form action="${ctxPath}/guest/login" method="POST">
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-user"></i> 用户名 </label>
                                        <input name="usernameOrEmail" type="text" class="form-control" required="required" placeholder="请输入用户名/邮箱" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-lock"></i> 密码 </label>
                                        <input name="password" type="password" class="form-control" required="required"  placeholder="请输入密码"  />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-font"></i> 验证码 </label>
                                        <div class="form-inline">
                                            <input name="verifyCode" type="text" id="findPassword-verify-code" class="form-control" placeholder="请输入验证码" maxlength="4">
                                            <img class="btn btn-default" id="findPassword-verify-img" src="${ctxPath!}/guest/login/verify" alt="更换验证码" height="48" onclick="getVerify(this, 'guest/login/verify');">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-inline">
                                            <input name="isRememberPassword" type="checkbox" id="remember-password" />
                                            <label for="remember-password"> 记住我 </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button id="login-btn" class="btn btn-success form-control">登录</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="register">

                            <div class="well well-lg">
                                <form id="register-form" action="${ctxPath}/guest/register" method="POST">
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-user"></i> 用户名 <span class="text-danger" id="register-active-check"></span></label>
                                        <input name="username" id="register-username" type="text" class="form-control" required="required" placeholder="输入用户名，3-20位英文或数字" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-lock"></i> 密码 </label>
                                        <input name="password"  id="register-password" type="password" class="form-control" required="required"  placeholder="设置密码，8-20位英文或数字"  />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-envelope"></i> 邮箱 <span class="text-danger" id="register-active-email"></span></label>
                                        <input name="email" id="register-email" type="email" class="form-control" required="required" placeholder="设置邮箱" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-font"></i> 验证码 </label>
                                        <div class="form-inline">
                                            <input type="text" name="verifyCode" id="register-verify-code" class="form-control" placeholder="请输入验证码" maxlength="4">
                                            <img class="btn btn-default" id="register-verify-img" src="${ctxPath!}/guest/register/verify" alt="更换验证码" height="48" onclick="getVerify(this, 'guest/register/verify');">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-check"></i> 注册协议 </label>
                                        <p>点击 “注册” 即表示您同意并愿意遵守本站 <a href="#">用户协议</a> 和 <a href="#">隐私政策</a></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="button"  id="register-btn"  class="btn btn-success form-control" value="注册"></input>
                                        <!--<button id="register-btn" type="submit" class="btn btn-success form-control">注册</button>-->
                                    </div>  
                                </form>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="find-password">
                            <div class="well well-lg">
                                <form action="${ctxPath}/guest/findPassword" method="POST">

                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-envelope"></i> 邮箱 </label>
                                        <input type="email" class="form-control" required="required" name="email" placeholder="输入注册时填写的邮箱" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> <i class="fa fa-font"></i> 验证码 </label>
                                        <div class="form-inline">
                                            <input type="text" id="findPassword-verify-code" class="form-control" placeholder="请输入验证码" maxlength="4">
                                            <img class="btn btn-default" id="findPassword-verify-img" src="${ctxPath!}/guest/findPassword/verify" alt="更换验证码" height="48" onclick="getVerify(this, 'guest/findPassword/verify');">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="find-password-btn" class="btn btn-success form-control">找回密码</button>
                                    </div>
                                </form>


                            </div>
                        </div>

                    </div>

                </div>

        </div>
    </div>


</section>
<!-- 用户主页 end-->


<#footer />
</div>


<script>

    /**
     * 注册查重
     * @type type
     */
    $('#register-email').bind('change', function () {
        $.ajax({
            url: getLocalhostPath() + 'guest/register/checkEmail',
            data: {
                email: $('#register-email').val()
            },
            success: function (check) {
                if (check) {
                    $('#register-active-email').text('邮箱可以注册');
                    $('#register-btn').removeAttr('disabled');
                } else {
                    $('#register-btn').attr('disabled', "true");
                    $('#register-active-email').text('该邮箱已注册');
                }
            }
        });
    });
    
   

    /**
     * 注册查重
     * @type type
     */
    $('#register-username').bind('change', function () {
        $.ajax({
            url: getLocalhostPath() + 'guest/register/check',
            data: {
                username: $('#register-username').val()
            },
            success: function (check) {
                if (check) {
                    $('#register-active-check').text('可以注册');
                    $('#register-btn').removeAttr('disabled');
                } else {
                    $('#register-btn').attr('disabled', "true");
                    $('#register-active-check').text('该用户已注册');
                }
            }
        });
    });
    

    /**
     * 注册事件
     * @type type
     */
    $('#register-btn').bind('click', function () {

        //验证码
        $.ajax(getLocalhostPath() + 'guest/register/verify', {
            data: {
                verifyCode: $('#register-verify-code').val()
            },
            type: 'POST',
            success: function (check) {
                if (check) {
                    $('#register-form').submit();
                } else {
                    return false;
                }
//                if()
//                if (check) {//验证通过
//                    console.log($('#register-username').val());
//                    console.log($('#register-password').val());
//                    console.log($('#register-email').val());
//
//                    $.ajax(getLocalhostPath() + 'guest/register', {
//                        data: {
//                            username: $('#register-username').val(),
//                            password: $('#register-password').val(),
//                            email: $('#register-email').val(),
//                            verifyCode: $('#register-verify-code').val()
//                        },
//                        type: 'POST',
//                        success: function (data) {
//                            console.log(data);
//                            if (data) {
//                                alert('注册成功，请前往邮箱激活');
//                            } else {
//                                alert('注册失败');
//                            }
//                        },
//                        fail: function () {
//                            alert('注册失败');
//                        }
//                    });
//                } else {
//                    alert("注册失败！");
//                }
            },
            fail: function () {
//                alert('验证码错误');
//                getVerify($('#register-verify-img'));
            }
        });
    });

    function getLocalhostPath() {

        //获取当前网址，如： http://localhost:8080/Tmall/index.jsp 
        var curWwwPath = window.document.location.href;

        //获取主机地址之后的目录如：/Tmall/index.jsp 
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);

        //获取主机地址，如： http://localhost:8080 
        var localhostPath = curWwwPath.substring(0, pos);
        return localhostPath + "/";

        //获取带"/"的项目名，如：/Tmall 
        //var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);     
    }

    //获取验证码
    function getVerify(obj, uri) {
        obj.src = getLocalhostPath() + uri + '?f=' + Math.random();
    }
</script>
</body>
</html>

