<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CharactorFilter</filter-name>
        <filter-class>com.zxy97.filter.CharactorFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharactorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>CaesarServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.CaesarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HashServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.HashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AesServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.AesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AesSetKeyServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.AesSetKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RsaSignServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.RsaSignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.RsaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaesarServlet</servlet-name>
        <url-pattern>/CaesarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HashServlet</servlet-name>
        <url-pattern>/HashServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AesServlet</servlet-name>
        <url-pattern>/AesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AesSetKeyServlet</servlet-name>
        <url-pattern>/AesSetKeyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RsaServlet</servlet-name>
        <servlet-class>com.zxy97.servlet.Rsa2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RsaServlet</servlet-name>
        <url-pattern>/RsaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RsaSignServlet</servlet-name>
        <url-pattern>/RsaSignServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dsa.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
