<!-- Meta -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<!-- Document title -->
<title>${title}</title>

<meta name="description" content="" />
<meta name="author" content="rustheme" />
<meta name="robots" content="noindex, nofollow" />

<!-- Favicons -->
<link rel="apple-touch-icon" href="${ctxPath}/assets/img/favicons/apple-touch-icon.png" />
<link rel="icon" href="${ctxPath}/assets/img/favicons/favicon.ico" />


<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="${ctxPath}/assets/js/plugins/slick/slick.min.css" />
<link rel="stylesheet" href="${ctxPath}/assets/js/plugins/slick/slick-theme.min.css" />

<!-- AppUI CSS stylesheets -->
<link rel="stylesheet" id="css-font-awesome" href="${ctxPath}/assets/css/font-awesome.css" />
<link rel="stylesheet" id="css-ionicons" href="${ctxPath}/assets/css/ionicons.css" />
<link rel="stylesheet" id="css-bootstrap" href="${ctxPath}/assets/css/bootstrap.css" />
<link rel="stylesheet" id="css-app" href="${ctxPath}/assets/css/app.css" />
<link rel="stylesheet" id="css-app-custom" href="${ctxPath}/assets/css/app-custom.css" />
<!-- End Stylesheets -->
