<main class="app-layout-content">

    <!-- Page Content -->
    <div class="container-fluid p-y-md">
        <div class="row">
            <div class="col-lg-12 col-sm-12 form-group">
                <textarea class="form-control col-lg-12 col-sm-12" rows="5">${msg!session.msg}</textarea>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            ${detailFileName!}
                        </h4>
                        <ul class="card-actions">
                            <li class="dropdown">
                                <button class="btn btn-lg" type="button" data-toggle="dropdown">
                                    <i class="ion-more"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">文件管理</li>
                                    <li>
                                        <a tabindex="-1" href="#"> 删除</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#"> 重命名</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">数据交互</li>
                                    <li>
                                        <a tabindex="-1" href="javascript:void(0)"> 导入采样点</a>
                                        <a tabindex="-1" href="javascript:void(0)"> 下载文件</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="drop-zone" class="card-block">
                        <div id="output">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
