<main class="app-layout-content">

    
    <div class="container-fluid p-y-md">
        <div class="row">
            <form class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 form-horizontal"
                  enctype="multipart/form-data" 
                  action="${ctxPath}/upload/image" 
                  method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" onkeydown="return false;" placeholder="选择 tif | tiff 图像文件" id="tiffFile" />
                        <label class="input-group-btn">
                            <span class="btn btn-primary" >
                                <i class="fa fa-folder-open"></i> 浏览...
                                <input type="file" name="file" accept=".tif,.tiff" style="display:none;" onchange="$('#tiffFile').val(this.value)" />
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-sm" type="submit">上传 tif 图像</button>
                </div>
            </form>
        </div>
        
        <div class="row">
            <form class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 form-horizontal"
                  enctype="multipart/form-data"
                  action="${ctxPath}/upload/txt" 
                  method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" onkeydown="return false;" placeholder="选择纯文本文件" id="txtFile" />
                        <label class="input-group-btn">
                            <span class="btn btn-primary" >
                                <i class="fa fa-folder-open"></i> 浏览...
                                <input type="file" name="file" accept=".txt" style="display:none;" onchange="$('#txtFile').val(this.value)" />
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-sm" type="submit">上传采样点</button>
                </div>
            </form>
        </div>
    </div>
</main>
