<!-- Page JS Code -->
<!--<script src="${ctxPath}/assets/js/pages/index.js"></script>-->
<script>
    function show(file) {
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                console.log(e);
                var buffer = e.target.result;
                var tiff = new Tiff({buffer: buffer});
                var canvas = tiff.toCanvas();
                var width = tiff.width();
                var height = tiff.height();
                console.log(tiff);
                if (canvas) {
                    $('#output').empty().append(canvas);
                }
            };
        })(file);
        reader.readAsArrayBuffer(file);

    }

    $(function () {
         App.initHelpers('slick');

//                $.ajax({
//                    type: "GET",
//                    url: "/api/file/list",
//                    success: function (data) {
//                        console.log("文件列表：");
//                        for (var index in data) {
//                            console.log(index + ": " + data[index]);
//                        }
//                        
//                        var tiffFileListObject = $('#tiff-file-list');
//                        tiffFileListObject.empty();
//                        var content = '';
//                        for (var index in data) {
//                            content += '<li><a href="javascript:void(0)">' + data[index] + '</a></li>\n';
//                        }
//                        tiffFileListObject.append(content);
//                    },
//                    fail: function () {
//                        console.log("获取文件列表失败！");
//                        //$('#tiff-log-list').empty();
//                        //<li><a href="javascript:void(0)">tiff.log.2019-10-01.log</a></li>
//                    },
//                    dataType: "json"
//                });

//                $.get("/api/log/list", null, function (data) {
//                    console.log("日志列表：");
//                    for (var index in data) {
//                        console.log(index + ": " + data[index]);
//                    }
//                    var tiffLogListObject = $('#tiff-log-list');
//                    tiffLogListObject.empty();
//                    var content = '';
//                    for (var index in data) {
//                        content += '<li><a href="javascript:getTiffLogContent('+data[index]+')">' + data[index] + '</a></li>\n';
//                    }
//                    tiffLogListObject.append(content);
//                });


//                $.ajax({
//                    type: "GET",
//                    url: "/api/log/content",
//                    data: {
//                        name: "tiff.log.2019-10-02.txt"
//                    },
//                    success: function (data) {
//                        console.log("日志[tiff.log.2019-10-02.txt]的内容：");
//                        console.log(data);
//                    },
//                    fail: function () {
//                        //$('#tiff-log-list').empty();
//                        //<li><a href="javascript:void(0)">tiff.log.2019-10-01.log</a></li>
//                    },
//                    dataType: "json"
//                });


        $("#picbtn").click(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:8080/tiff/image/get', true);
            xhr.responseType = 'arraybuffer';
            xhr.onload = function (e) {
                    if (this.status === 200) {           
                    var buffer = xhr.response;// 返回 ArrayBuffer
                    var tiff = new Tiff({buffer: buffer});
                    var canvas = tiff.toCanvas();
                    var width = tiff.width();
                    var height = tiff.height();
                    if (canvas) {
                        $('#output').empty().append(canvas);
                    }
                }
            };
            xhr.send(null);
        });

        var dropzone = $('#drop-zone');
        dropzone.on('dragover', function (jqEvent) {
            var event = jqEvent.originalEvent;
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
        });

        $('#file').on('change', function (event) {
            show(event.target.files[0]);
        });

        dropzone.on('drop', function (jqEvent) {
            var event = jqEvent.originalEvent;
            event.stopPropagation();
            event.preventDefault();
            var files = event.dataTransfer.files;
            if (files.length === 0) {
                return;
            }
            show(files[0]);
        });
    });

</script>
