<!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
<script src="${ctxPath}/assets/js/core/jquery.min.js"></script>
<script src="${ctxPath}/assets/js/core/bootstrap.min.js"></script>
<script src="${ctxPath}/assets/js/core/jquery.slimscroll.min.js"></script>
<script src="${ctxPath}/assets/js/core/jquery.scrollLock.min.js"></script>
<script src="${ctxPath}/assets/js/app.js"></script>
<script src="${ctxPath}/assets/js/app-custom.js"></script>

<!-- Page Plugins -->
<script src="${ctxPath}/assets/js/plugins/slick/slick.min.js"></script>
<script src="${ctxPath}/assets/js/plugins/chartjs/Chart.min.js"></script>
<script src="${ctxPath}/assets/js/plugins/flot/jquery.flot.min.js"></script>
<script src="${ctxPath}/assets/js/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="${ctxPath}/assets/js/plugins/flot/jquery.flot.stack.min.js"></script>
<script src="${ctxPath}/assets/js/plugins/flot/jquery.flot.resize.min.js"></script>

<script src="${ctxPath}/assets/js/tiff.min.js"></script>

